@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --mainRed: #e20715;
  --mainBlue: #2a2d7b;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */



body {
  background: var(--background);
  color: var(--foreground);
}

/* Buttons */

/* Primary unbordered */
.primary-button {
  background: var(--mainRed);
  color: var(--background);
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    background: transparent;
    border: 1px solid var(--mainRed);
    color: var(--mainRed);
  }
}

/* Bordered primary */
.bordered-primary-button {
  background: transparent;
  border: 1px solid var(--mainRed);
  color: var(--mainRed);
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    background: var(--mainRed);
    color: var(--foreground);
  }
}

/* Secondary unbordered */
.secondary-button {
  background: var(--mainBlue);
  color: var(--background);
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    background: transparent;
    border: 1px solid var(--mainBlue);
    color: var(--mainBlue);
  }
}


/* Bordered secondary */
.bordered-secondary-button {
  background: transparent;
  border: 1px solid var(--mainBlue);
  color: var(--mainBlue);
  cursor: pointer;
}

.bordered-secondary-button:hover {
  background: var(--mainBlue);
  color: var(--foreground);
}